<div class="page-header">
  <h3>Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">

  <div class="container">
  <div class="row">

    <div class="col-xs-3">
      <p>Candidate Name: <%= @rating.candidate.candidate_lastname %></p>

      <p>Hometown: <%= @rating.candidate.hometown %></p>

      <p>School: <%= @rating.candidate.school %></p>

      <p>Additional degree: <%= @rating.candidate.add_degree %></p>

      <p>Usmle 1: <%= @rating.candidate.usmle_1 %></p>

      <p>Usmle 2: <%= @rating.candidate.usmle_2 %></p>

      <p>Aoa: <%= @rating.candidate.aoa %></p>
    </div>

    <div class="col-xs-2">
      <p>Photo</p>
      <p><img src="<%= @rating.candidate.photo %>" class="img-responsive"</p>
    </div>


    <div class="col-xs-7">
      <p>Q1: <%= @rating.q1 %></p>

      <p>Q2: <%= @rating.q2 %></p>

      <p>Q3: <%= @rating.q3 %></p>

      <p>Q4: <%= @rating.q4 %></p>

      <p>Overall comment: <%= @rating.overall_comment %></p>

      <p>Total: <%= @total =%></p>

      <p>Average: <%= @average %></p>

      <p>User: <%= @rating.user.email %></p>

    </div>

  </div>
</div>

 <!--    <dl class="dl-horizontal">
      <dt>Candidate</dt>
      <dd><%#= @rating.candidate.candidate_lastname %></dd>

 <!--      <dt>Photo</dt>
      <dd><img src="<%#= @rating.candidate.photo %>" class="img-responsive"</dd> -->

    <div class="btn-group btn-group-justified">
      <a href="/ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rating/<%= @rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
