<div class="page-header">
  <h3>Candidate #<%= @candidate.id %></h3>
</div>

<div class="container">

<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">

      <dt>Candidate Name</dt>
      <dd><%= @candidate.candidate_lastname %></dd>

      <dt>Hometown</dt>
      <dd><%= @candidate.hometown %></dd>

      <dt>School</dt>
      <dd><%= @candidate.school %></dd>

      <dt>Block</dt>
      <dd><%= @candidate.block %></dd>

      <dt>Interview on</dt>
      <dd><%= @candidate.interview_on %></dd>

      <dt>Add degree</dt>
      <dd><%= @candidate.add_degree %></dd>

      <dt>Usmle 1</dt>
      <dd><%= @candidate.usmle_1 %></dd>

      <dt>Usmle 2</dt>
      <dd><%= @candidate.usmle_2 %></dd>

      <dt>Aoa</dt>
      <dd><%= @candidate.aoa %></dd>
</dl>
</div>
    <div class="col-md-4">
      <dt>Photo</dt>
      <dd><img src="<%= @candidate.photo %>" class="img-responsive"</dd>
    </div>
</div>
</div>

<div class="page-header">
  <h3>Add Rating</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for candidate_id -->
      <div class="form-group">
        <label for="candidate_id" class="control-label">
          Candidate's Name
        </label>
        <%= select_tag(:candidate_id, options_from_collection_for_select(Candidate.all, :id, :candidate_lastname, @rating.candidate_id), :class => "form-control")%>
        <!-- <input type="text" id="candidate_id" name="candidate_id" placeholder="Candidate" class="form-control" value="<%= @rating.candidate_id %>"> -->
      </div>

      <!-- Label and input for q1 -->
      <div class="form-group">
        <label for="q1" class="control-label">
          Rate this candidate's potential to be a great resident (1 to 5)
        </label>

        <input type="text" id="q1" name="q1" placeholder="Q1" class="form-control" value="<%= @rating.q1 %>">
      </div>

      <!-- Label and input for q2 -->
      <div class="form-group">
        <label for="q2" class="control-label">
          Rate this candidate's strength of application (1 to 5)
        </label>

        <input type="text" id="q2" name="q2" placeholder="Q2" class="form-control" value="<%= @rating.q2 %>">
      </div>


      <!-- Label and input for q3 -->
      <div class="form-group">
        <label for="q3" class="control-label">
          Rate this candidate's professionalism (1 to 5)
        </label>

        <input type="text" id="q3" name="q3" placeholder="Q3" class="form-control" value="<%= @rating.q3 %>">
      </div>


      <!-- Label and input for q4 -->
      <div class="form-group">
        <label for="q4" class="control-label">
          Suppose one of your fellow medical students is causing friction amongst the group on a clerkship (bad-mouthing others, complaining about duties, comparing hours spent on various tasks).  How would you address this situation? (PBI-1)
        </label>

        <input type="text" id="q4" name="q4" placeholder="Q4" class="form-control" value="<%= @rating.q4 %>">
      </div>

<!-- Label and input for overall_comment -->
      <div class="form-group">
        <label for="overall_comment" class="control-label">
          Overall comment
        </label>

        <input type="text" id="overall_comment" name="overall_comment" placeholder="Overall comment" class="form-control" value="<%= @rating.overall_comment %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User's Full name
        </label>
        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @rating.user_id), :class => "form-control")%>
        <!-- <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%#= @rating.user_id %>"> -->
      </div>

      <button class="btn btn-success">
        Create Rating
      </button>


    <div class="btn-group btn-group-justified">
      <a href="/candidates" class="btn btn-primary">
        Back
      </a>
      <a href="/candidates/<%= @candidate.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_candidate/<%= @candidate.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
